name: Container Image CI
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: anchore/scan-action@v3
        with:
          image: "turbonomic/kubeturbo:8.3.1"
          fail-build: false
          acs-report-enable: true
